body, html {
    height: 100%;
    font-weight: 300;
}

h1, h2, h3, h4 {
    color: #ee2364;
    font-family: "TargaMS", "Roboto Condensed", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    

    &.bg
    {
        background: #ee2364; text-shadow: none; padding: 5px 5px 5px 15px;
        color: #FFFFFF;
    }
}

hr {
    border-top: 5px solid #FFFFFF;
}

#backgrounds {
    position: absolute;
    z-index: 0;
    top: 0; left: 0; right: 0; bottom: 0;

    &>div {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #near-bg {
        z-index: 4;
        background-image: url(../img/sm-bg_near.png);
    }

    #far-bg {
        z-index: 3;
        background-image: url(../img/sm-bg_far.png);
    }

    #sky-bg {
        z-index: 1;
        background-image: url(../img/sm-bg.png);
    }

    #page-header-logo {
        z-index: 2;
        background-image: url(../img/DS_Logo.png);
        background-size: 75% auto;
        background-position: center center;
    }

    #blank-bg {
        z-index: 5;
        background: @body-bg;
        top: 100%;
    }
}

#page-header {
    height: 100%;

    .container {
        height: 100%;
    }
}

#main {
    padding-bottom: 20px;
}

#social-buttons {
    position: absolute;
    z-index: 100;
    left: 5px;
    top: 5px;

    .twitter-follow-button, .fb-like {
        float: left;
        clear: left;
        margin-top: 5px;
    }
}

#nav-links {
    position: absolute;
    z-index: 100;
    right: 5px;
    top: 5px;

    a {
        display: inline-block;
        background: #ee2364;
        color: #fff;
        text-transform: uppercase;
        padding: 5px;
        font-weight: 700;

        transform: skew(-20deg,0deg);

        span {
            display: inline-block;
            transform: skew(20deg,0deg);
            padding: 0 5px;
        }
    }
}

#about {
    text-align: center;
    margin: auto;

    h3 {
        font-size: 43px;
        margin-top: 1em;
    }
    h4 {
        font-size: 38px;
    }
}

#about-header {
    display: inline-block;
    background-image: url("../img/about.png"); 
    /* size: 340 * 106 */
    /* preferred width: 300 */
    .responsive-landscape-image(340, 106, 300);
    margin-top: 4em;
}

.about-descript {
    font-family: "Helvetica Neue" , sans-serif;
    font-weight: lighter;
    font-size: 135%;

    h5 {
        font-size: 140%;
        font-style: italic;
        font-weight: normal;
    }
}

#platforms {
    display: inline-block;
    background-image: url("../img/platforms.png"); 
    /* size: 754 * 124 */
    /* preferred width: 500 */
    .responsive-landscape-image(754, 124, 500);
    margin: 1em;
}

#price {
    display: inline-block;
    border-bottom: 10px solid #ee2364;
    font-family: "TargaMS", "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight:  100;
    font-size: 700%;
    line-height: 113%;
}

#keys {
    background-image: url("../img/DS_GIF_Key.gif"); 
    margin: auto;
    /* size: 371 * 523 */
    .responsive-landscape-image(371, 523, 371);
}

#content {
    position: relative;
    z-index: 10;
    height: 100%;

    .jumbotron img {
        border: 0px;
        .box-shadow(none);
        margin-bottom: 0;
    }
    img, video {
        border: 1px solid #000;
        .box-shadow(5px 5px 0 #000);
        margin-bottom: 15px;
    }
}

video {
    width: 100%;
}

.full-btn {
    width: 100%;
}

.slabbed {
    text-transform: uppercase;
}

.video-embed-wrapper {
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding-bottom: 56.25%;  /* 16:9 */
    padding-top: 25px;
    height: 0;
    border: 1px solid #000;
    .box-shadow(5px 5px 0 #000);
}

.video-embed-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row-buffer {
    margin-top: 15px;
}


.responsive-landscape-image(@img-width, @img-height, @max-width) { 
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%;
    max-width: unit(@max-width, px);
    height: 0; 
    padding-top: percentage(@img-height/@img-width);

    @media screen and (min-width: (unit(@max-width, px) + 100px ) ) {
        width: unit(@max-width, px);
        padding-top: unit( @img-height/@img-width*@max-width , px);
    }
}