body {
    height: 100%;
}

#content {
    position: relative;
    z-index: 10;
}

h1, h2, h3 {
    text-shadow: 3px 3px 0 #000;
}

#backgrounds {
    position: absolute;
    z-index: 0;
    top: 0; left: 0; right: 0; bottom: 0;

    &>div {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #near-bg {
        z-index: 3;
        background-image: url(../img/sm-bg_near.png);
    }

    #far-bg {
        z-index: 2;
        background-image: url(../img/sm-bg_far.png);
    }

    #sky-bg {
        z-index: 1;
        background-image: url(../img/sm-bg.png);
    }

    #blank-bg {
        z-index: 4;
        background: @body-bg;
        top: 100%;
    }
}

#content {
    .jumbotron img {
        border: 0px;
        .box-shadow(none);
        margin-bottom: 0;
    }
    img, video {
        border: 1px solid #000;
        .box-shadow(5px 5px 0 #000);
        margin-bottom: 15px;
    }
}

video {
    width: 100%;
}

.full-btn {
    width: 100%;
}

.slabbed {
    text-transform: uppercase;
}

.video-embed-wrapper {
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding-bottom: 56.25%;  /* 16:9 */
    padding-top: 25px;
    height: 0;
    border: 1px solid #000;
    .box-shadow(5px 5px 0 #000);
}

.video-embed-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row-buffer {
    margin-top: 15px;
}
